In [1]:
import numpy as np # numbers
import pandas as pd #data
import matplotlib.pyplot as plt #graphs

In [2]:
#data in order of newest additions at the top
price_data = pd.read_csv(r'/Users/rachaelgreen/Desktop/Third_year_maths/Intro_to_ai/GitHub/ai-group-project-green-team/Prices_of_food/kosherfooddataset.csv', encoding='latin1')
price_data
# encoding='latin1' i used this to fix an error is that ok?

,ID,Name,Manufacturer,Supplier,Enabled,Stock,Price/Size,CreatedÊ,Unnamed: 8,Unnamed: 9
0,12167,Kansas City BBQ Sauce,Bull's-Eye,Steins Foods,Yes,In,£3.40/510g,16/12/2020 13:53,NaN,NaN
1,12166,Steak Spice Montreal Style,Prima,S & J,Yes,In,£3.49/85g,14/12/2020 14:52,NaN,NaN
2,12165,The Best Meat Seasoning,Prima,S & J,Yes,In,£3.99/85g,14/12/2020 14:49,NaN,NaN
3,12164,Chicken Seasoning,Prima,S & J,Yes,In,£3.49/85g,14/12/2020 14:42,NaN,NaN
4,12163,Ramen Noodles Oriental Style Vegetable,Gefen,S & J,Yes,In,£0.99/85g,14/12/2020 14:30,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
10778,8,Apple Crumble Bars,Paskesz,NaN,No,Out,£1.35/227g,27/01/2006 12:26,NaN,NaN
10779,6,Brownie Bars,Paskesz,Eliko Food,No,Out,£1.35/227g,27/01/2006 12:26,NaN,NaN
10780,4,Vanilla Cookies,Berman,Drumstick,No,Out,£1.20/225g,27/01/2006 12:26,NaN,NaN
10781,3,Softbite Chewy Chocolate Chocolate Chip Cookie...,Kemach,Drumstick,No,In,£3.55/340g,27/01/2006 12:26,NaN,NaN
10782,2,Amor Di Pane Bread Sticks - Friable,Oscar,Eliko Food,No,In,£1.55/100g,27/01/2020,NaN,NaN

In [3]:
#dropping the columns that we definitely dont need
price_data = price_data.drop(columns=['Enabled', 'Stock', 'CreatedÊ' ,'Unnamed: 8', 'Unnamed: 9']) 
price_data

,ID,Name,Manufacturer,Supplier,Price/Size
0,12167,Kansas City BBQ Sauce,Bull's-Eye,Steins Foods,£3.40/510g
1,12166,Steak Spice Montreal Style,Prima,S & J,£3.49/85g
2,12165,The Best Meat Seasoning,Prima,S & J,£3.99/85g
3,12164,Chicken Seasoning,Prima,S & J,£3.49/85g
4,12163,Ramen Noodles Oriental Style Vegetable,Gefen,S & J,£0.99/85g
...,...,...,...,...,...
10778,8,Apple Crumble Bars,Paskesz,NaN,£1.35/227g
10779,6,Brownie Bars,Paskesz,Eliko Food,£1.35/227g
10780,4,Vanilla Cookies,Berman,Drumstick,£1.20/225g
10781,3,Softbite Chewy Chocolate Chocolate Chip Cookie...,Kemach,Drumstick,£3.55/340g
10782,2,Amor Di Pane Bread Sticks - Friable,Oscar,Eliko Food,£1.55/100g

In [4]:
#dropping the collumns we probably dont need
price_data = price_data.drop(columns=['ID', 'Supplier', 'Manufacturer'])
price_data

                                                    Name  Price/Size
0                                  Kansas City BBQ Sauce  £3.40/510g
1                             Steak Spice Montreal Style   £3.49/85g
2                                The Best Meat Seasoning   £3.99/85g
3                                      Chicken Seasoning   £3.49/85g
4                 Ramen Noodles Oriental Style Vegetable   £0.99/85g
...                                                  ...         ...
10778                                 Apple Crumble Bars  £1.35/227g
10779                                       Brownie Bars  £1.35/227g
10780                                    Vanilla Cookies  £1.20/225g
10781  Softbite Chewy Chocolate Chocolate Chip Cookie...  £3.55/340g
10782                Amor Di Pane Bread Sticks - Friable  £1.55/100g

[10783 rows x 2 columns]

In [5]:
#get rid of any duplicates
#removes duplicate rows based on all columns
price_data = price_data.drop_duplicates()
price_data

                                                    Name  Price/Size
0                                  Kansas City BBQ Sauce  £3.40/510g
1                             Steak Spice Montreal Style   £3.49/85g
2                                The Best Meat Seasoning   £3.99/85g
3                                      Chicken Seasoning   £3.49/85g
4                 Ramen Noodles Oriental Style Vegetable   £0.99/85g
...                                                  ...         ...
10778                                 Apple Crumble Bars  £1.35/227g
10779                                       Brownie Bars  £1.35/227g
10780                                    Vanilla Cookies  £1.20/225g
10781  Softbite Chewy Chocolate Chocolate Chip Cookie...  £3.55/340g
10782                Amor Di Pane Bread Sticks - Friable  £1.55/100g

[10735 rows x 2 columns]

In [6]:
#To remove duplicates on specific column(s), use subset, and keep last occurences, use keep.
price_data = price_data.drop_duplicates(subset=['Name'], keep='first') #newest price
price_data

                                                    Name  Price/Size
0                                  Kansas City BBQ Sauce  £3.40/510g
1                             Steak Spice Montreal Style   £3.49/85g
2                                The Best Meat Seasoning   £3.99/85g
3                                      Chicken Seasoning   £3.49/85g
4                 Ramen Noodles Oriental Style Vegetable   £0.99/85g
...                                                  ...         ...
10775                  Milk Chips Chocolate Chip Cookies  £1.35/200g
10778                                 Apple Crumble Bars  £1.35/227g
10779                                       Brownie Bars  £1.35/227g
10781  Softbite Chewy Chocolate Chocolate Chip Cookie...  £3.55/340g
10782                Amor Di Pane Bread Sticks - Friable  £1.55/100g

[9429 rows x 2 columns]

In [7]:
#drop any row where at least one element is missing
price_data = price_data.dropna()
price_data

                                                    Name  Price/Size
0                                  Kansas City BBQ Sauce  £3.40/510g
1                             Steak Spice Montreal Style   £3.49/85g
2                                The Best Meat Seasoning   £3.99/85g
3                                      Chicken Seasoning   £3.49/85g
4                 Ramen Noodles Oriental Style Vegetable   £0.99/85g
...                                                  ...         ...
10775                  Milk Chips Chocolate Chip Cookies  £1.35/200g
10778                                 Apple Crumble Bars  £1.35/227g
10779                                       Brownie Bars  £1.35/227g
10781  Softbite Chewy Chocolate Chocolate Chip Cookie...  £3.55/340g
10782                Amor Di Pane Bread Sticks - Friable  £1.55/100g

[9429 rows x 2 columns]

In [8]:
#re-number index
price_data = price_data.reset_index()
price_data

      index                                               Name  Price/Size
0         0                              Kansas City BBQ Sauce  £3.40/510g
1         1                         Steak Spice Montreal Style   £3.49/85g
2         2                            The Best Meat Seasoning   £3.99/85g
3         3                                  Chicken Seasoning   £3.49/85g
4         4             Ramen Noodles Oriental Style Vegetable   £0.99/85g
...     ...                                                ...         ...
9424  10775                  Milk Chips Chocolate Chip Cookies  £1.35/200g
9425  10778                                 Apple Crumble Bars  £1.35/227g
9426  10779                                       Brownie Bars  £1.35/227g
9427  10781  Softbite Chewy Chocolate Chocolate Chip Cookie...  £3.55/340g
9428  10782                Amor Di Pane Bread Sticks - Friable  £1.55/100g

[9429 rows x 3 columns]

In [9]:
price_data = price_data.drop(columns=['index'])
price_data

                                                   Name  Price/Size
0                                 Kansas City BBQ Sauce  £3.40/510g
1                            Steak Spice Montreal Style   £3.49/85g
2                               The Best Meat Seasoning   £3.99/85g
3                                     Chicken Seasoning   £3.49/85g
4                Ramen Noodles Oriental Style Vegetable   £0.99/85g
...                                                 ...         ...
9424                  Milk Chips Chocolate Chip Cookies  £1.35/200g
9425                                 Apple Crumble Bars  £1.35/227g
9426                                       Brownie Bars  £1.35/227g
9427  Softbite Chewy Chocolate Chocolate Chip Cookie...  £3.55/340g
9428                Amor Di Pane Bread Sticks - Friable  £1.55/100g

[9429 rows x 2 columns]